name: Tests
on: [ push ]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        python-version: [ 3.8, 3.9, '3.10', 3.11]
        poetry-version: [ 1.3.2 ]
        django-version: [ 3.2.18, 4.1 ]
        drf-version: [ 3.12, 3.14 ]
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3.5.0
      - uses: actions/setup-python@v4.5.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run image
        uses: abatilo/actions-poetry@v2
        with:
          poetry-version: ${{ matrix.poetry-version }}
      - name: Install dependencies
        run: poetry install --only main,dev --all-extras
      - name: Upgrade django version
        run: |
          poetry run pip install "Django==${{ matrix.django-version }}"
      - name: Upgrade drf version
        run: |
          poetry run pip install "djangorestframework==${{ matrix.drf-version }}"
      - name: Echo env
        run: poetry run pip freeze | grep -E 'djangorestframework|Django'
      - name: Run tests
        run: 
          poetry run py.test --capture=no --cov-report term-missing --cov-report html --cov=djoser_passwordless testproject/
          poetry run coverage xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: ./coverage.xml
          fail_ci_if_error: true
          verbose: true
